# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
tfplan*
modules/**/.terraform.lock.hcl
crash.log

# Lambda build output
services/generate/dist/
services/generate/node_modules/
/node_modules/
/package-lock.json
/package.json

# Local env
.env
.env.*
